.gunny .gunny-loading {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 50px;
  max-width: 50px;
  z-index: 999;
}

.gunny .gunny-loading .progress {
  height: 5px;
  background-color: black;
}