
td.table--communication-list__name {
  font-size: 18px;
}

td.table--communication-list__stats {
  width: 6%;
}

td.table--communication-list__last-post,
td.table--communication-list__options {
  width: 35%;
}

.communication:target {
  border: 1px solid $input_border_active;
}

.communication__body {
  overflow: hidden;
}

span.communication__body__sender-name {
  font-size: 15px;
  font-weight: bold;
}

.communication__body__text {
  img { max-width: 100%; }
  word-wrap: break-word;
  margin-top: 3px;
  margin-bottom: 6px;
}

span.communication__sender__stats,
.communication__options {
  font-size: 0.86em;
}

.communication__options {
  background: $background_odd_color;
  border-top: $border;
}

.communication__interaction {
  margin-left: 6px;
}

.communication__info {
  display: unset;
  margin-left: 6px;
}

.communication-edit__tab {
  padding-bottom: 12px;
}

.communication-edit__actions {
  margin-top: -4px; /* Dirty! 1px to override the border, 3px to negate input margin */
  padding-top: 0;
}

.avatar-svg {
  max-width: 100%;
  max-height: 100%;
}

.communication__toolbar {
  margin-bottom: 6px;
}

.communication__toolbar__button {
  background-color: $meta_color;
  border: 1px solid $meta_border_color;
  color: $foreground_color;
  margin: 1px;
  padding: 4px;
  border-radius: 0;
  cursor: pointer;
  min-width: 30px;

  &:hover {
    background-color: $input_color_active;
  }

  &:focus, &:hover, &:active, &:visited {
    border-color: $input_border_active;
    outline: 0;
  }
}

.hyphenate-breaks{
  hyphens: auto;
}

.checkbox-label-of-doom {
  display: inline-block;
  margin-right: 2em;
}

.communication--destroyed {
  background-color: $destroyed_content_color;
}
