// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Post diffs
del.differ {
  width: 670px;
  background: $danger_light_color;
}

ins.differ {
  width: 670px;
  background: $success_light_color;
}
