.channel-strip__image {
  vertical-align: top;
}

.channel-strip__state {
  white-space: nowrap;
}

.media-box__header--channel {
  width: 240px;
}

.media-box__header--channel .label {
  vertical-align: middle;
  line-height: 11px;
}

.media-box__content--channel {
  width: 240px;
  height: 180px;
}
