.dupe-report-list--image {
  width: 200px;
}

.dupe-report-list--image-container {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dupe-report-list__cell {
  padding: 0.5em 0.25em;
}

.dr__image-cell .image-container {
  @mixin img-checkerboard-background;
}

.dr__diff {
  white-space: nowrap;
}

.dr__status-options {
  padding: 0.5em;
}

.report-duplicate {
  margin-top: 1em;
}

.difference,
.swipe,
.onion-skin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.onion-skin__slider-box {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  margin-top: 10px;
}

.onion-skin__slider-box-item {
  padding-left: 5px;
  padding-right: 5px;
}

.onion-skin__slider {
  flex: 1 0 auto;
}

.onion-skin__button {
  flex: 0 0 auto;
  margin-left: 5px;
}

.swipe__image {
  cursor: ew-resize;
}

.difference__image,
.swipe__image,
.onion-skin__image {
  max-height: 900px;
}

.comparison--navigation {
  display: flex;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.comparison--navigation__button {
  flex: 0 0 auto;
}

.comparison--navigation__button:not(:first-child) {
  margin-left: 5px;
}

.comparison--navigation__gap {
  flex: 1 0 auto;
}
