// Place all the styles related to the filters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* TODO: -> block */
/* FIXME: ugly selectors (.filter .filter-options ul li a:hover) */
.filter {
  background: $background_odd_color;
  border: $border;
  padding-left: $header_spacing;
  margin-bottom: 8px;
  h3 {
    margin: 0;
    margin-top: 10px;
  }
  .filter-options {
    ul {
      list-style: none;
      padding-left: 2px;
      li {
        display: inline;
        margin-right: 20px;
      }
    }
  }
}

.spoiler-filter-code {
  white-space: pre-wrap;
}