.poll {
  margin-bottom: 1em;
}

.poll-area {
  border: 1px solid var(--border-color);
  background: var(--background-color);
  color: var(--foreground-color);
  padding: 10px;
}

.poll-area--in-tab {
  border: 0;
  background: transparent;
  padding: 4px;
}

.poll__header {
  margin: 0 0 5px;
  text-align: center;
}

.poll-vote-form,
.poll-results {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.poll-form__options {
  max-width: 100%;
  overflow: hidden;
}

.poll-form__options__label {
  padding: 5px;
  margin: 5px;
  border: 1px solid var(--border-color);
  background: var(--poll-form-label-background);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;
}

.poll-option__label,
.poll-form__options__label span {
  white-space: pre-wrap;
  word-break: break-word;
}

.poll-form__status,
.poll-results__concluded-at {
  margin-top: 5px;
  text-align: center;
}

.poll-form__actions {
  margin-top: 1em;
}

.poll-option-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.poll-option {
  padding: 5px;
}

.poll-option__text {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.poll-option--top__text {
  color: var(--header-color);
}

.poll-option--top,
.poll-option--user-vote {
  cursor: help;
}

.poll-option--user-vote {
  font-weight: bold;
}

.poll-option__label {
  padding-right: 5px;
}

.poll-option__counts {
  padding-left: 5px;
  display: flex;
  flex-flow: row nowrap;
  text-align: right;
}

.poll-bar {
  flex: 1 0 100%;
  height: 4px;
  border: 1px solid var(--border-color);
  background: var(--background-color);
  margin-top: 5px;
  user-select: none;
}

.poll-bar__image {
  display: block;
}

.poll-bar__fill {
  fill: var(--header-color);
}

.poll-bar__fill--top {
  fill: var(--foreground-color);
}

#add-poll {
  margin-top: 0.5em;
}

#delete-poll-form {
  text-align: left;
}
