
.profile-top {
  display: flex;
  margin-bottom: 6px;
}

.profile-top__avatar {
  margin: 10px 10px 0 0;
}

.profile-top__name-and-links {
  // Allow options extra space on high width even when name is short
  flex: 1 1 0%;
}

// Lessen h1's margins because it's not butting up against text
h1.profile-top__name-header {
  margin-top: 10px;
  margin-bottom: 0;
}

.table--stats {
  min-width: 220px;

  @media (max-width: 900px) {
    margin-left: 0;
  }
}

td.table--stats__parameter {
  width: 20%;
}

td.table--stats__value {
  width: 15%;
}

td.table--stats__sparkline {
  width: 65%;
}

.profile-top__options {
  display: flex;
  flex-wrap: wrap;
}

.profile-top__options__column {
  flex: 0 0 auto;
  // Override terrible browser styling
  list-style: none;
  padding: 0;
  margin: 0.5em 2em 0.5em 0;
}

.profile-admin__options__column {
  flex: 0 0 auto;
  list-style: none;
  padding: 4px;
  min-width: 200px;
  margin: 0.5em 2em 0.5em 0;

  li {
    padding: 6px;
    background: $header_secondary_color;
    margin: 4px 0;
  }

  li:hover {
    background: $header_secondary_hover_color;
  }

  a {
    display: block;
    color: $foreground_color !important;
  }

  .admin__button {
    margin-left: 4px;
  }
}

@media (max-width: $min_px_width_for_desktop_layout) {
  .profile-admin__options__column {
    width: 100%;
  }
}

.profile-block {
  display: inline-block;
  margin: 5px;
  max-width: 125px;
  vertical-align: top;
  b { display: block; }
}

.profile-about {
  overflow: hidden;
}

.banner__2fa {
  margin-left: 8px;
  padding: 2px;

  .success {
    background: $success_color;
  }

  .danger {
    background: $danger_color;
  }
}

.enable-2fa {
  margin-top: 1em;
}

.break-word {
  word-wrap: break-word;
}

.avatar--28px {
  width: 28px;
  height: 28px;
}

.avatar--50px {
  width: 50px;
  height: 50px;
}

.avatar--100px {
  width: 100px;
  height: 100px;
}

.avatar--125px {
  width: 125px;
  height: 125px;
}
