/* Tagsinput */
.tagsinput {
  display: block;
  background: var(--background-color);
  border: 1px solid var(--meta-border-color);
  box-sizing: border-box;
  height: 10.6em;
  overflow: auto;
  padding: 5px;
  resize: both;
}

.tagsinput.js-taginput {
  height: auto;
  min-height: 7.33em;
  max-height: 50vh;
  padding-bottom: 0;
  margin-bottom: 4px;
}

.tagsinput.js-taginput .input {
  padding: 5px;
  margin-bottom: 5px;
}

/* Autocomplete */
.autocomplete {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  user-select: none;
  white-space: nowrap;
  z-index: 999;
  font-family: var(--font-family-monospace);
  background: var(--background-color);

  /* Borders */
  border-style: solid;
  border-width: 1px;
  border-top-width: 0;
  border-color: var(--meta-border-color);

  /* Poor man's hack to make sure autocomplete doesn't grow beyond the viewport */
  max-width: 70vw;
}

.autocomplete__separator {
  margin: 0;
}

.autocomplete__item {
  padding: 5px;
}

.autocomplete__item__content {
  /* Squash overly long suggestions */
  text-overflow: ellipsis;
  overflow: hidden;
}

.autocomplete__item__tag {
  color: var(--foreground-color);
  display: flex;
  justify-content: space-between;
  white-space: pre;
}

.autocomplete__item__history {
  color: var(--block-header-link-text-color);
}

.autocomplete__item__history__icon {
  /*
  Makes the history icon aligned in width with the autocomplete__item__tag's icon.
  Yes, it's a dirty hack, don't look at me like that >_<, but turns out font-awesome
  icons aren't actually all of the same size!
  */
  font-size: 11.38px;
}

.autocomplete__item__history__match {
  font-weight: bold;

  /* Use a lighter color to highlight the matched part of the query */
  color: lch(from var(--block-header-link-text-color) calc(l + 20) c h);
}

.autocomplete__item__tag__match {
  font-weight: bold;
}

.autocomplete__item__tag__match:not(.autocomplete__item--selected) {
  /* Use a lighter color to highlight the matched part of the query */
  color: lch(from var(--foreground-color) calc(l + 20) c h);
}

.autocomplete__item__tag__count {
  color: var(--foreground-half-color);

  /*
    Reduce the space size between groups of 3 digits in big numbers like "1 000 000".
    This way the number is more compact and easier to read.
  */
  word-spacing: -3px;
}

.autocomplete__item:hover:not(.autocomplete__item--selected) {
  background: lch(from var(--background-color) calc(l + 10) c h);
}

.autocomplete__item--selected,
.autocomplete__item--selected .autocomplete__item__history__match,
.autocomplete__item--selected .autocomplete__item__tag__match {
  background: var(--foreground-color);
  color: var(--background-color);
}

/* Tags */
.tag {
  --tag-background: var(--tag-normal-background);
  --tag-border: var(--tag-normal-border);
  --tag-color: var(--tag-normal-color);
  border: 1px solid;
  display: inline-table;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 5px;
  background: var(--tag-background);
  border-color: var(--tag-border);
  color: var(--tag-color);
}

.tag > span {
  padding: 5px;
  display: table-cell;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
}

.tag a {
  color: inherit;
}

.tag__count {
  background-color: var(--tag-border);
  color: var(--foreground-color);
  font-weight: normal;
}

.tag__dropdown__link {
  background-color: var(--meta-color);
  padding: 5px;
}

.tag__dropdown__link:hover {
  background-color: var(--tag-dropdown-hover-background);
}

@define-mixin tag-category $cat {
  .tag[data-tag-category="$(cat)"] {
    --tag-background: var(--tag-category-$(cat)-background);
    --tag-border: var(--tag-category-$(cat)-border);
    --tag-color: var(--tag-category-$(cat)-color);
  }
}

@mixin tag-category rating;
@mixin tag-category spoiler;
@mixin tag-category origin;
@mixin tag-category oc;
@mixin tag-category error;
@mixin tag-category character;
@mixin tag-category content-official;
@mixin tag-category content-fanmade;
@mixin tag-category species;
@mixin tag-category body-type;

.tag-page .tag,
.tagsinput .tag {
  font-family: var(--font-family-base);
  padding: 5px;
}

.tagsinput .tag a {
  margin-left: 5px;
}

/* Quick Tag Table */
.quick-tag-table__tab > div {
  display: inline-block;
  padding: 0 6px;
  vertical-align: top;
  border-right: var(--border);
  border-left: var(--border);
}

.quick-tag-table__tab > div:last-child {
  border-right: none;
}

span.quick-tag-table__tab-separator {
  background: var(--background-color);
  border: var(--border);
  border-bottom: 0;
  display: inline-block;
}

.tag-image--constrained {
  width: 50px;
  height: 50px;
}

.tag-info__category {
  margin-left: 20px;
}

.tag-info__heading {
  margin: 8px 0;
}

.tag-info__list {
  margin: 0;
  padding-left: 30px;
}
