/*
 * Darker theme
 */

// ///////////////////////////////////
// ///// SECTION 1 - MAIN COLORS /////
// ///////////////////////////////////

$background_color: #1d242f;
$page_background_color: #141a24;
$foreground_color: #e0e0e0;

$base_color: #546c99;

$primary_light_color: #1a4c6b;
$success_light_color: #144714;
$danger_light_color: #66211f;
$warning_light_color: #7d4825;

$destroyed_content_color: #382c2f;

$meta_color: #191f2a;

$header_color: #284371;
$header_field_color: #1c3252;
$header_secondary_color: #1d2b44;
$header_admin_color: #3b1d1d;

$block_header_color: #2e3a52;
$block_header_link_text_color: #4f95db;

$block_header_light_color: #252d3c;
$block_header_light_link_text_color: #6198c2;

$border_color: #2d3649;

$media_box_color: #3d4657;

$link_color: #478acc;
$link_hover_color: #b099dd;

$fave_color: #a18e27;
$vote_up_color: #5b9b26;
$vote_down_color: #da3412;
$hide_color: #da3412;

$assistant_color: #511b4e;

$tag_normal_color: #4aa158;
$tag_category_rating_color: #418dd9;
$tag_category_spoiler_color: #d49b39;
$tag_category_origin_color: #6f66d6;
$tag_category_oc_color: #b157b7;
$tag_category_error_color: #d45460;
$tag_category_character_color: #4aaabf;
$tag_category_content_official_color: #b9b541;
$tag_category_content_fanmade_color: #cc8eb5;
$tag_category_species_color: #b16b50;

$commission_category_color: #e07b27;

$site_notice_color: #07070a;

$image_overlay_color: #ffffff;
$image_overlay_background_color: #000000;

// //////////////////////////////////////
// ///// SECTION 2 - DERIVED COLORS /////
// //////////////////////////////////////

$text_light_color: $foreground_color;

$meta_color: mix($foreground_color, $background_color, 5%);
$meta_border_color: mix($foreground_color, $meta_color, 30%);

$primary_color: saturate(lighten($primary_light_color, 5%), 4%);
$success_color: lighten($success_light_color, 4%);
$danger_color: lighten($danger_light_color, 5%);
$warning_color: lighten($warning_light_color, 6%);

$header_hover_color: darken($header_color, 8%);
$header_field_hover_color: darken($header_hover_color, 4%);
$header_secondary_hover_color: darken($header_secondary_color, 4%);

$header_admin_hover_color: darken($header_admin_color, 5%);

$block_header_hover_color: adjust_hue(saturate(darken($block_header_color, 4%), 4%), -3deg);
$block_header_link_text_hover_color: adjust_hue(desaturate(darken($block_header_link_text_color, 3%), 20%), 6deg);

$block_header_light_hover_color: adjust_hue(saturate(darken($block_header_light_color, 4%), 10%), -4deg);
$block_header_light_link_text_hover_color: adjust_hue(desaturate(darken($block_header_light_link_text_color, 2%), 10%), 8deg);

$media_box_hover_color: darken($media_box_color, 4%);
$media_box_header_link_text_hover_color: desaturate(darken($link_color, 3%), 18%);
$media_box_header_link_text_color: $link_color;
$media_box_header_link_text_hover_color: darken($media_box_header_link_text_color, 10%);

$link_dark_color: mix($link_color, $foreground_color, 70%);
$link_dark_hover_color: mix($link_hover_color, $foreground_color, 70%);

$image_show_link_color: $link_dark_color;
$image_show_link_hover_color: $link_dark_hover_color;

$image_overlay_color: $foreground_color;
$image_overlay_background: darken($background_color, 30%);

$assistant_border_color: lighten($assistant_color, 8%);

$admin_links_color: mix($vote_down_color, $background_color, 17%);
$admin_links_hover_color: mix($vote_down_color, $background_color, 48%);

$background_odd_color: darken($background_color, 3%);
$background_even_color: $background_color;

$success_odd_color: desaturate(darken($success_color, 9%), 2%);
$success_even_color: saturate(darken($success_light_color, 2%), 2%);
$warning_odd_color: saturate(darken($warning_color, 19%), 10%);
$warning_even_color: saturate(darken($warning_light_color, 7%), 7%);
$danger_odd_color: desaturate(darken($danger_color, 16%), 2%);
$danger_even_color: darken($danger_light_color, 6%);

$foreground_half_color: mix($foreground_color, $background_color);

$sparkline_color: lighten($base_color, 5%);

$input_text_color: $foreground_color;
$input_color: $meta_color;
$input_border: $meta_border_color;
$input_color_active: lighten($meta_color, 5%);
$input_border_active: desaturate(lighten($base_color, 2%), 10%);

$tag_normal_background: darken($tag_normal_color, 29%);
$tag_normal_border: darken($tag_normal_color, 18%);
$tag_category_rating_background: darken($tag_category_rating_color, 35%);
$tag_category_rating_border: desaturate(darken($tag_category_rating_color, 20%), 10%);
$tag_category_spoiler_background: darken($tag_category_spoiler_color, 34%);
$tag_category_spoiler_border: darken($tag_category_spoiler_color, 23%);
$tag_category_origin_background: darken($tag_category_origin_color, 40%);
$tag_category_origin_border: desaturate(darken($tag_category_origin_color, 22%), 28%);
$tag_category_oc_background: darken($tag_category_oc_color, 33%);
$tag_category_oc_border: darken($tag_category_oc_color, 15%);
$tag_category_error_background: desaturate(darken($tag_category_error_color, 38%), 6%);
$tag_category_error_border: darken($tag_category_error_color, 22%);
$tag_category_character_background: darken($tag_category_character_color, 33%);
$tag_category_character_border: darken($tag_category_character_color, 20%);
$tag_category_content_official_background: desaturate(darken($tag_category_content_official_color, 29%), 2%);
$tag_category_content_official_border: darken($tag_category_content_official_color, 20%);
$tag_category_content_fanmade_background: darken($tag_category_content_fanmade_color, 40%);
$tag_category_content_fanmade_border: desaturate(darken($tag_category_content_fanmade_color, 20%), 10%);
$tag_category_species_background: darken($tag_category_species_color, 35%);
$tag_category_species_border: desaturate(darken($tag_category_species_color, 20%), 10%);

$commission_category_background: darken($commission_category_color, 36%);
$commission_category_border: darken($commission_category_color, 25%);

$site_notice_link_color: desaturate(lighten($block_header_link_text_color, 8%), 20%);
$site_notice_link_hover_color: darken($site_notice_link_color, 8%);

$button_text_color: $foreground_color;
$button_background_color: rgba($meta_color, 0.2);
$button_hover_background_color: $input_color_active;
$button_hover_border_color: $input_border_active;
$button_border_color: $meta_border_color;

$button_primary_background_color: $primary_light_color;
$button_success_background_color: $success_light_color;
$button_warning_background_color: $warning_light_color;
$button_danger_background_color: $danger_light_color;

$button_primary_border_color: saturate(lighten($primary_light_color, 14%), 22%);
$button_success_border_color: saturate(lighten($success_light_color, 9%), 10%);
$button_warning_border_color: saturate(lighten($warning_light_color, 12%), 10%);
$button_danger_border_color: saturate(lighten($danger_light_color, 18%), 6%);

$button_primary_hover_background: darken($button_primary_background_color, 5%);
$button_primary_hover_border: darken($button_primary_border_color, 5%);
$button_success_hover_background: darken($button_success_background_color, 5%);
$button_success_hover_border: darken($button_success_border_color, 5%);
$button_warning_hover_background: darken($button_warning_background_color, 6%);
$button_warning_hover_border: darken($button_warning_border_color, 6%);
$button_danger_hover_background: darken($button_danger_background_color, 5%);
$button_danger_hover_border: darken($button_danger_border_color, 5%);

$downvote_disabled_color: mix($vote_down_color, $block_header_light_color, 30%);
$dnp_warning_hover_color: lighten($vote_down_color, 10%);
$poll_form_label_background: lighten($border_color, 8);
$tag_dropdown_hover_background: darken($meta_color, 4%);

@import "~common/base";
