/*
 * Shared layout properties, not unique to any theme
 */

$border: 1px solid $border_color;

$font_family_base: verdana, arial, helvetica, sans-serif;
$font_family_monospace: "Droid Sans Mono", monospace;

$max_px_width_for_limited_desktop_layout: 1150px;
$min_px_width_for_desktop_layout: 800px;
$min_px_width_for_desktop_thumb: 700px;

$limited_layout_width: 980px;
$medium_layout_width: 1330px;
$centered_layout_side_margin: 24px;
$layout_side_margin: 12px;

$header_height: 36px;
$header_field_height: 28px;
$header_sub_height: 32px;
$header_font_size: 16px;
$header_spacing: 12px;
$header_field_spacing: 8px;
$header_field_vertical_spacing: ($header_height - $header_field_height) / 2;
$block_header_height: 32px;
$block_header_sub_height: 26px;
$block_spacing: 6px;
$media_box_header_height: 22px;
