.button {
  background-color: $button_background_color;
  border: 1px solid $button_border_color;
  box-sizing: border-box;
  color: $button_text_color;
  display: inline-block;
  line-height: normal;
  font-family: $font_family_base;
  font-size: 14px;
  padding: 3px 5px;
  border-radius: 0; /* reset rounded borders on iOS/Safari */
  cursor: pointer;
  &:hover {
    background-color: $button_hover_background_color;
    border-color: $button_hover_border_color;
  }
  &:active, &:hover, &:visited {
    color: $button_text_color;
  }
  &:disabled {
    opacity: 0.7;
    pointer-events: none;
  }
}

.button--bold {
  font-weight: bold;
}

.button--full-width {
  width: 100%;
}

.button--link {
  color: $link_color;
  cursor: pointer;
  &:hover {
    color: $link_hover_color;
  }
  &:visited {
    color: $link_color;
  }
}

.button--separate-left {
  margin-left: 5px;
}

.button--separate-right {
  margin-right: 5px;
}

.button--small {
  padding: 0 3px;
}

.button--state-primary {
  background-color: $button_primary_background_color;
  border-color: $button_primary_border_color;
  &:hover {
    background-color: $button_primary_hover_background;
    border-color: $button_primary_hover_border;
  }
}

.button--state-success {
  background-color: $button_success_background_color;
  border-color: $button_success_border_color;
  &:hover {
    background-color: $button_success_hover_background;
    border-color: $button_success_hover_border;
  }
}

.button--state-warning {
  background-color: $button_warning_background_color;
  border-color: $button_warning_border_color;
  &:hover {
    background-color: $button_warning_hover_background;
    border-color: $button_warning_hover_border;
  }
}

.button--state-danger {
  background-color: $button_danger_background_color;
  border-color: $button_danger_border_color;
  &:hover {
    background-color: $button_danger_hover_background;
    border-color: $button_danger_hover_border;
  }
}
