@mixin even-odd {
  &:nth-child(odd) {
    background: $background_odd_color;
  }
  &:nth-child(even) {
    background: $background_even_color;
  }

  /* Used in tag changes, among other things. See the definition of
   * _odd_color and _even_color for more information on cross-theme customization */

  //success bgs
  &:nth-child(odd).success,
  &:nth-child(odd) .success {
    background: $success_odd_color;
  }
  &:nth-child(even).success,
  &:nth-child(even) .success {
    background: $success_even_color;
  }
  &:nth-child(even) &:nth-child(odd).success,
  &:nth-child(even) &:nth-child(odd) .success {
    background: $success_odd_color;
  }

  //warning bgs
  &:nth-child(odd).warning,
  &:nth-child(odd) .warning {
    background: $warning_odd_color;
  }
  &:nth-child(even).warning,
  &:nth-child(even) .warning {
    background: $warning_even_color;
  }
  &:nth-child(even) &:nth-child(odd).warning,
  &:nth-child(even) &:nth-child(odd) .warning {
    background: $warning_odd_color;
  }

  //danger bg
  &:nth-child(odd).danger,
  &:nth-child(odd) .danger {
    background: $danger_odd_color;
  }
  &:nth-child(even).danger,
  &:nth-child(even) .danger {
    background: $danger_even_color;
  }
  &:nth-child(even) &:nth-child(odd).danger,
  &:nth-child(even) &:nth-child(odd) .danger {
    background: $danger_odd_color;
  }
}

@mixin number-wrap($color) {
  display: inline-flex;
  padding: 0 6px;
  margin-left: 6px;
  line-height: inherit;
  font-size: 16px;
  text-align: center;
  background: $color;
}
