$font-family-base: verdana, arial, helvetica, sans-serif;
$font-family-monospace: "Droid Sans Mono", monospace;

$medium-layout-width: 1330px;
$max-limited-desktop-width: 1150px;
$min-desktop-width: 800px;
$limited-layout-width: 980px;
$min-desktop-thumb-width: 700px;
$image-tiny-size: 64px;
$image-small-size: 128px;
$image-medium-size: 256px;
$image-large-size: 512px;

:root {
  --medium-layout-width: $medium-layout-width;
  --max-limited-desktop-width: $max-limited-desktop-width;
  --min-desktop-width: $min-desktop-width;
  --limited-layout-width: $limited-layout-width;
  --min-desktop-thumb-width: $min-desktop-thumb-width;
  --border: 1px solid var(--border-color);
  --media-border: 1px solid var(--media-box-color);
  --media-over-border: 1px dotted var(--vote-down-color);
  --media-box-header-height: 22px;
  --media-container-width: 225px;
  --media-tiny-container-width: 50px;
  --media-small-container-width: 150px;
  --media-medium-container-width: 250px;
  --media-large-container-width: 500px;
  --media-full-container-width: 100%;
  --media-featured-width: 326px;
  --media-small-header-height: 1rem;
  --font-family-base: $font-family-base;
  --font-family-monospace: $font-family-monospace;
  --padding-tiny: 0.3rem;
  --padding-small: 0.4rem;
  --padding-normal: 0.75rem;
  --padding-large: 1.5rem;
  --centered-margin: 24px;
  --normal-margin: 12px;
  --image-tiny-size: $image-tiny-size;
  --image-small-size: $image-small-size;
  --image-medium-size: $image-medium-size;
  --image-large-size: $image-large-size;
  --header-height: 36px;
  --header-field-height: 28px;
  --header-sub-height: 32px;
  --header-font-size: 16px;
  --header-spacing: 12px;
  --header-field-spacing: 8px;
  --header-field-vertical-spacing: calc((var(--header-height) - var(--header-field-height)) * 0.5);
  --block-header-height: 32px;
  --block-header-sub-height: 26px;
  --block-spacing: 6px;
  --reduced-communication-avatar-size: 50px;
}
